*{
    margin:0;
    padding:0;
}

body{
    background-color:  #427E80;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;    
}

nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0px 40px;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 300px;
    text-transform: uppercase;
    list-style-type: none;
}

.item-menu{
    list-style-type: none;
}

li{
    display: list-item;
}

.link{
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    
}

header{
    background: url(./assets/imagenes/codigo.jpeg) fixed;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    padding: 0px 100px;
}

.title{
    text-align: center;
    background-color: #2D2D2D;
    text-shadow: 5px 3px 2px black;
    color: white;
}

a{
    color: #F0F5E4;
    text-decoration: none;
    padding: 7px;
}

p{
    color: black;
}

h2{
    text-shadow: 2px 2px #154454;
    font-size: 40px;
    text-align: center;
    color: #F0F5E4;
    padding-top: 90px;

}

.h2Historia, .h2Juego{
    padding-bottom: 50px;
}

.cont-padre{
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

main{
    padding: 100px 20px;
}

.img1{
    width: 100%;
}

.btnVerde{
    padding: 10px;
    border-radius: 10px;
    background-color: #427E80;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #154454;
    text-align: center;
    text-decoration: none;
    width: 40%;
    margin-bottom: 20px;
}

.pImg1{
    width: 90%;
    text-align: center;
    height: 30px;
}
.card{
    width: 350px;
    height: 400px;
    border: 5px solid #154454;
    background-color: #F0F5E4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*.containerSection{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

footer{
    background-color: #1d1d1d;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: white;
}

.divTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 60px;
}

.text-Blanco{
    font-size: 14px;
    text-align: center;
    color: #F0F5E4;
}

.imgFondo{
    width: 1912px;
    height: 450px;
    background-image: url(./assets/imagenes/codigo.jpeg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.h1Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloBlanco{
    color: #F0F5E4;
    background-color: #2D2D2D;
    text-shadow: 5px 3px 2px black;
}

.tituloH2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F5E4;
    font-size: 30px;
    padding-top: 20px;
    text-shadow: 3px 2px 2px #2D2D2D;
}

#boxGame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainJuego{
    display: flex;
    flex-direction: row;
}

#container1,#container2,#container3{
    width: 275px;
    height: 400px;
    display: inline-block;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
}

#p1, #p2, #p3{
    padding-top: 10px;
}

#boxImg{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
}

#img1, #img2, #img3{
    width: 275px;
    height: 400px;
}

.btnReiniciar{
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    padding: 10px 100px;
}

.reiniciar{
    display: flex;
    margin: auto;
    padding: 10px 100px;
}

.card-hist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    gap: 20px;
}

.text-card{
    width: 70%;
}

.cont-historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
video{
    width: 100%;
}
.barra{
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
}
.botonera{
    display: flex;
    gap: 20px;
}
.container{
    padding: 5px;
    background-color: black;
    width: 150%;
}

#play,#pause{
   width: 80px;
   box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
}


.botonesVideo:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
    
}
#showTime{
    padding-top: 28px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.none{
    display: none;
}

.rect1, .poly1{
    animation: part_1 ease-in 5s  ;
    animation-iteration-count:1 ;
}
    
.rect2, .poly2 {
animation: part_2 ease-in 5s;
animation-iteration-count:1;
}

@keyframes part_1{
    0% {
    transform: translate(0,-10px);
    opacity:0;}
    20% {
    transform: translate(0,-10px);
    opacity:0;}
    30% {
    transform: translate(0,0);
    opacity:1;}
    90% {
    transform: translate(0,0);
    opacity:1;}
    
    100% {
    transform: translate(0,0);
    opacity:1;}
}   
    

@keyframes part_2 {
    0% {
        transform: translate(0,-10px);
        opacity:0;}
        30% {
        transform: translate(0,-10px);
        opacity:0;}
        40% {
        transform: translate(0,0);
        opacity:1;}
        90% {
        transform: translate(0,0);
        opacity:1;}

        100% {
        transform:translate(0,0);
        opacity:1;
}}

@media screen and ( min-width: 768px) and (max-width: 1023px){
   
    .menu{
        display: none;
}

    header{
        font-size: 20px;
        padding: 0px, 100px;
}

    h2{
        font-size: 32px;
}

    .cont-padre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0px 0px;
        margin-top: 50px;
}

    .card-hist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
    .column{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap:20px
}

    .container{
            padding: 0px;
            width: 100%;
}

    #container1,#container2,#container3{
        width: 195px;
        height: 320px;
        display: inline-block;
        border: 1px solid black;
}

    #boxImg{
        gap: 5px;
        margin: 12px;
}

    #img1, #img2, #img3{
        width: 195px;
        height: 320px;
}

    .h2Juego{
        font-size: 32px;
}
}
    
